@import '../../sass/parts/_variables'

.education
    text-align: center
    height: 274px

    .institution
        font-weight: bold

    .period
        font-weight: bold

@media screen and ( max-width: 480px )
    .education
        height: auto

@media screen and ( min-width: 481px) and (max-width: 767px)
    .education
        height: auto

@media screen and ( min-width: 768px ) and (max-width: 1024px)
    .education
        height: 370px