@import '../../sass/parts/_variables'

.moreThanLimitLength
    padding: .5rem 1.25rem $imp

.card
    margin-top: 20px
    padding-top: 10px

.skill-icon
    width: 50px
    height: 50px
    margin-right: auto
    margin-left: auto

    img
        width: 100%

.skill-filter
    text-align: center

    button
        margin-left: 10px