@media only screen and (max-width: 768px) {
    .header {
        .navbar {
            padding: 1rem 2rem;
            margin: 0 auto;

            .wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0;
                background: rgba($Snow, 0.8);
                transition: all 0.3s ease;

                .menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 40%;
                    width: 100%;
                    transform: translateY(-50%);

                    &-item {
                        padding-bottom: 1rem;
                        width: 100%;
                        text-align: left;

                        &:nth-child(1) a {
                            transition-delay: 0.2s;
                        }
                        &:nth-child(2) a {
                            transition-delay: 0.3s;
                        }
                        &:nth-child(3) a {
                            transition-delay: 0.4s;
                        }
                        &:nth-child(4) a {
                            transition-delay: 0.5s;
                        }

                        &:not(:first-child) {
                            margin-left: 0;
                        }

                        a {
                            padding: 1rem 2rem;
                            opacity: 0;
                            color: $Black;
                            font-size: 1rem;
                            font-weight: 600;
                            transform: translateX(-20px);
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }

            .nav-toggle {
                display: block;
                position: fixed;
                right: 1rem;
                top: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
                z-index: 999;

                span {
                    display: block;
                    width: 20px;
                    height: 2px;
                    background: $Black;
                    border-radius: 2px;
                    margin-left: 14px;

                    &:nth-child(1) {
                        margin-top: 16px;
                    }
                    &:nth-child(2) {
                        margin-top: 4px;
                        opacity: 1;
                    }
                    &:nth-child(3) {
                        margin-top: 4px;
                    }
                }
            }

            #nav:checked + .nav-toggle {
                transform: rotate(45deg);

                span {
                    background: $Black;
                    transition: transform 0.5s ease;

                    &:nth-child(1) {
                        transform: translateY(6px) rotate(180deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translateY(-6px) rotate(90deg);
                    }
                }
            }

            #nav:checked ~ .wrapper {
                z-index: 99;
                opacity: 1;

                .menu {
                    &-item {
                        a {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}
