@import '../../sass/parts/_variables'

.Wrapper
    padding: 0 0 100px
    margin-bottom: 20px
    text-align: center
    width: 100%
    overflow: hidden

    button
        margin: 0 5px
        font-size: 16px
        border-radius: 50% $imp
        padding: 10px 10px $imp
        transition: all 300ms
        outline: none

        &.prev
            position: absolute
            top: 40%
            left: 0

        &.next
            position: absolute
            top: 40%
            right: 0

        &:focus
            box-shadow: 0 0 0 4px #ddd

        &:disabled
            opacity: 0.5

.Carousel
    height: 510px
    position: relative
    width: 500px
    max-width: 80%
    margin: 0 auto

.Carousel-slide
    color: #fff
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    transition: transform 500ms, opacity 500ms
    font-size: 30px

    .content
        padding: 5px
        width: 100%
        color: $Black
        text-align: center

        h2.title::first-letter
            text-transform: uppercase

        p.description
            font-size: 15px

    &.hidden
        opacity: 0

@media (max-width: 500px)
    .Carousel
        width: 60%

.Carousel-slide--previous
    z-index: 0
    transform: translate(-90%) scale(0.5)
    opacity: 0
    pointer-events: none

    .content
        display: none

.Carousel-slide--left
    z-index: 1
    transform: translate(-60%) scale(0.8)
    opacity: 0.7
    cursor: pointer

    .content
        display: none


.Carousel-slide--active
    z-index: 2

    img
        +box-shadow(0, 0, 20px, rgba($Black, .5))

.Carousel-slide--right
    z-index: 1
    transform: translate(60%) scale(0.8)
    opacity: 0.7
    cursor: pointer

    .content
        display: none


.Carousel-slide--next
    transform: translate(90%) scale(0.5)
    z-index: 0
    opacity: 0
    pointer-events: none

    .content
        display: none