@import '../../sass/parts/_variables'

.course
    padding: 20px 0
    height: 350px
    text-align: center

    .certificate
        margin-right: auto
        margin-left: auto
        background-position: 0 160px
        background-size: cover
        cursor: pointer
        height: 160px
        width: 90%

    .progressValue
        margin-top: 70px

    .in-progress
        color: $DodgerBlue
        padding: 10px 11px

    .complete
        color: $Lime
        padding: 8px

.modal-body img
    width: 100%