@import '../../sass/parts/_variables'

.footer
    height: 130px
    background-color: $Black
    padding: 50px

    & .icons > *
        margin-left: 10px

        & a::first-child
            margin-left: 0

    & a
        color: $Snow

        & > span
            font-size: 33px
            font-weight: bold

    & .nav-item
        margin-left: 20px