@import '../../sass/parts/_variables'

.job
    padding: 20px

    .jobTitle
        font-size: 20px
        font-weight: bold

    .specification
        position: relative
        top: -10px
        font-size: 15px

    .period
        font-weight: bold

    .jobDescription
        margin-top: 10px