@import '../../sass/parts/_variables'

.card.contacts
    height: 283px

.cv
    width: 58px
    padding: 7px 0
    margin-right: auto
    margin-left: auto
    font-size: 20px
    font-weight: bold
    background-color: #212529
    color: $White